<%= form_with model: @phonebook do |form| %>
    <div class="input-group m-3">
        <%= form.label :first_name ,class: "input-group-text"%><br>
        <%= form.text_field :first_name, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:first_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :last_name ,class: "input-group-text"%><br>
        <%= form.text_field :last_name, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:last_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :tag ,class: "input-group-text"%><br>
        <%= form.text_field :tag, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:tag).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :email ,class: "input-group-text"%><br>
        <%= form.email_field :email, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :phone ,class: "input-group-text"%><br>
        <%= form.text_field :phone, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:phone).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :instagram ,class: "input-group-text"%><br>
        <%= form.text_field :instagram, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:instagram).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :twitter ,class: "input-group-text"%><br>
        <%= form.text_field :twitter, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:twitter).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="input-group m-3">
        <%= form.label :linkedin ,class: "input-group-text"%><br>
        <%= form.text_field :linkedin, class: "form-control"%>
        <% @phonebook.errors.full_messages_for(:linkedin).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="d-flex-row justify-content-between">
        <div class="col-5">
            <%= form.submit class: "btn btn-success"%>
        </div>
    </div>
<% end %>