<% content_for :title do %>
- Ubah Kontak
<% end %>
<% content_for :content do %>
<div class="d-flex justify-content-between m-3">
    <h1>Ubah Kontak</h1>
    <%= link_to "Kembali", phonebooks_path , class: "btn btn-sm btn-primary"%>
</div>


<%= render "form", phonebook: @phonebook %>
<% end %>