<% content_for :title do %>
<% end %>
<% content_for :content do %>
<div class="row mt-3">
    <h1>Daftar Kontak</h1>
</div>
<div class="row m-3">
    <div class="card text-bg-success">
        <div class="card-body">
        <div class="card-text">Jumlah Kontak Tersimpan</div>
        <div class="card-title text-end"><h3 id="contact-count">0</h3></div>
        </div>
    </div>
</div>
<div class="row m-3">
    <table class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th>Nama Lengkap</th>
                <th><button class="btn btn-sm btn-create btn-info" data-bs-toggle="modal">Tambah</button></th>
            </tr>
        </thead>
        <tbody id="phonebook-table">
        <%if @phonebooks.empty?%>
        <h3>Belum Ada Kontak Terdaftar</h3>
        <%end%>
        </tbody>
    </table>
</div>
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <dl class="row" id="detail-field">
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-bs-backdrop="static" id="modal-form-create">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
            <div class="card text-bg-danger" hidden>
                <div class="container m2" id="error-card-field">
                </div>
            </div>
                <div class="row col-12">
                    <form id="form-modal-create">
                        <input class="form-control" type="hidden" name="id"/>
                        <div class="input-group m-3">
                            <label class="input-group-text">Nama Depan</label>
                            <input class="form-control" name="first_name" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Nama Belakang</label>
                            <input class="form-control" name="last_name" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Tag</label>
                            <input class="form-control" name="tag"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Email</label>
                            <input type="email" class="form-control" name="email"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Telepon</label>
                            <input class="form-control" name="phone" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Instagram</label>
                            <input class="form-control" name="instagram"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Twitter</label>
                            <input class="form-control" name="twitter"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Linkedin</label>
                            <input class="form-control" name="linkedin"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-submit-create">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-bs-backdrop="static" id="modal-form-edit">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
            <div class="card text-bg-danger" hidden>
                <div class="container m2" id="error-card-field">
                </div>
            </div>
                <div class="row col-12">
                    <form id="form-modal-edit">
                        <input class="form-control" type="hidden" name="id"/>
                        <div class="input-group m-3">
                            <label class="input-group-text">Nama Depan</label>
                            <input class="form-control" name="first_name" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Nama Belakang</label>
                            <input class="form-control" name="last_name" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Tag</label>
                            <input class="form-control" name="tag"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Email</label>
                            <input type="email" class="form-control" name="email"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Telepon</label>
                            <input class="form-control" name="phone" required/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Instagram</label>
                            <input class="form-control" name="instagram"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Twitter</label>
                            <input class="form-control" name="twitter"/>
                        </div>
                        <div class="input-group m-3">
                            <label class="input-group-text">Linkedin</label>
                            <input class="form-control" name="linkedin"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-submit-edit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-absolute p-3 top-0 end-0">
    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" id="toast-success">
        <div class="d-flex">
            <div class="toast-body" id="toast-alert-success">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<%end%>

<% content_for :js_after do %>
    <%= javascript_include_tag "phonebook/index.js", "data-turbolinks-track" => true %>
<% end %>
