<% content_for :title do %>
- <%=@phonebook.first_name+" "+@phonebook.last_name%>
<% end %>
<% content_for :content do %>
<div class="row m-3">
    <h1><%=@phonebook.first_name+" "+@phonebook.last_name%></h1>
</div>

<div class="d-flex flex-row-reverse">
    <div class="button-group">
        <%= link_to "Kembali", phonebooks_path, class: "btn btn-sm btn-primary"%>
        <%= link_to "Ubah", edit_phonebook_path(@phonebook), class: "btn btn-sm btn-warning" %>
        <%= link_to "Hapus", phonebook_path(@phonebook), data:{ turbo_method: :delete, turbo_confirm: :"Apakah anda yakin menghapus data ini?"}, class: "btn btn-sm btn-danger" %>
    </div>
</div>

<div class="row">
    <dl class="row">
        <dt>Email</dt>
        <dd><%=@phonebook.email%></dd>
        <dt>Phone</dt>
        <dd><%=@phonebook.phone%></dd>
        <dt>Instagram</dt>
        <dd><a href="https://www.instagram.com/<%=@phonebook.instagram%>"><%=@phonebook.instagram%></a></dd>
        <dt>Twitter</dt>
        <dd><a href="https://www.twitter.com/<%=@phonebook.twitter%>"><%=@phonebook.twitter%></a></dd>
        <dt>Linkedin</dt>
        <dd><a href="https://www.linkedin.com/in/<%=@phonebook.linkedin%>"><%=@phonebook.linkedin%></a></dd>
        <dt>Tag</dt>
        <dd><%=@phonebook.tag%></dd>
    </dl>
</div>
<% end %>